html
    head
        title="Contact Us Form."
    body
        h4 You have received the following contact request:
        p
            b Name:
            =name
        p
            b Phone:
            =phone
        p
            b Email:
            =email
        p
            b Comments:
            =comments
