@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.toolbar {
  padding: 20px 0;
}

.list-header {
  color: lighten($brand-primary, 50%);
  border: darken($brand-primary, 20%);
  background-color: $brand-primary;
  padding: 10px;
  font-weight: bold;
}

.list-row {
  padding: 10px;
  line-height: 14px;
}

.lighter-row {
  background-color: lighten($brand-primary, 45%);
}

.nested-row {
  margin: 5px -15px 5px 10px;
  &.role {
    background-color: lighten($brand-danger, 30%);
    border-left: 4px solid darken($brand-danger, 30%);
    a {
      color: darken($brand-danger, 30%);
    }
  }
  &.operation {
    background-color: lighten($brand-warning, 30%);
    border-left: 4px solid darken($brand-warning, 30%);
    a {
      color: darken($brand-warning, 30%);
    }
  }
  &.no-perms {
    background-color: lighten($brand-primary, 30%);
    border-left: 4px solid darken($brand-primary, 30%);
    a {
      color: darken($brand-primary, 30%);
    }
  }
}
