$icon-font-path: "/static/fonts/bootstrap";
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
$fa-font-path: "/static/fonts/font-awesome";
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: $navbar-inverse-bg;
  color: $navbar-inverse-color;
  border: $navbar-inverse-border;
}

.text-error {
  color: $state-danger-text;
  font-weight: bold;
  padding-bottom: 10px;
  display: inline-block;
}

@media screen and (max-height: 575px) {
  #rc-imageselect, .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
