html
  head
    title="ShockJS Isomorphic Application."
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    link(rel='icon', href='/static/favicon.ico')
    meta(name='description', content='A website built with ShockJS...')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/static/app.css')
    script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit', async, defer)

  body
    <div id="main">
    #app!= content
    </div>
    script(src='/static/bundle.js', defer)
    script(id='serverRenderedData', type='application/json').
      !{jsonData}

